.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.status {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.status-bar {
  color: white;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 380px;
  height: 51px;
  text-align: center;
  font-family: "FiraGO";
  font-weight: 500;
  font-size: 20px;
  line-height: 40%;
  letter-spacing: 0;
}

.starter {
  background-color: #f7bc30;
}

.in-progress {
  background-color: #fb5607;
}

.ready-for-test {
  background-color: #ff006e;
}

.finished {
  background-color: #3a86ff;
}

.card {
  border: 1px solid red;
  border-radius: 20px;
  font-family: "FiraGO";
  padding: 1rem 1rem 0 1rem;
  margin-bottom: 2rem;
  height: 230px;
}

.type-starter {
  border-color: #f7bc30;
}
.type-in-progress {
  border-color: #fb5607;
}
.type-ready-for-test {
  border-color: #ff006e;
}
.type-finished {
  border-color: #3a86ff;
}

.card h3 {
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  color: #212529;
}

.upper-card {
  display: flex;
  justify-content: space-between;
}

.upper-left-card {
  display: flex;
  gap: 1rem;
}

.priority-status {
  display: flex;
  gap: 0.5rem;
  border-radius: 10px;
  padding: 5px 10px !important;
  font-weight: 500;
  font-size: 12px;
  align-items: center;
}

.card-low {
  border: 1px solid #08a508;
}

.card-low span {
  color: #08a508 !important;
}

.card-high {
  border: 1px solid #fa4d4d;
}

.card-high span {
  color: #fa4d4d !important;
}


.card-medium {
  border: 1px solid #ffbe0b;
}

.card-medium span {
  color: #ffbe0b !important;
}

.upper-left-card span {
  color: #212529;
}

.departments {
  margin: auto;
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 2px 25px;
  background-color: #08a508;
  font-weight: 400;
  font-size: 14px;
}

.departments span {
  color: white;
}

.IT {
  background-color:#FFD86D !important;
}

.logistic {
  background-color: #89B6FF !important;
}

.marketing { 
  background-color: #FD9A6A !important;
}

.human-res {
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 2px 20px;
  background-color: green;
}

.IT {
  border: 1px solid transparent;
  background-color: #ff006e'
}

.priority {
  margin: auto;
  height: 10px;
}

.high {
  rotate: 180deg;
}

.upper-right-card {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
}

.upper-right-card span {
  color: #212529;
}

.card-description {
  margin: 2rem 0;
  height: 72px;
}

.card-description p {
  color: #343a40;
  font-weight: 400;
  font-size: 14px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  height: 25px;
}

.employee-avatar {
  border: 1px solid transparent;
  border-radius: 50%;
}

