.details-container {
  display: flex;
  font-family: "FiraGO";
}

.details-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.details-status {
  display: flex;
  gap: 1rem;
}

.task-main-info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.task-main-info h3 {
  color: #212529;
  font-weight: 600;
  font-size: 34px;
  line-height: 100%;
}

.task-main-info p {
  color: black;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.task-details {
  margin-top: 1rem;
}

.alltask-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
}

.task-details h4 {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
}

.status-task,
.employee-info,
.task-date {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.status-task span,
.employee-info span,
.task-date span {
  color: #474747;
  font-weight: 400;
  line-height: 150%;
}

.status-task select {
  color: #0d0f10;
  font-family: "FiraGO";
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  background-color: transparent;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px 5px;
  outline: none;
}

.employee-department {
  font-weight: 300;
  font-size: 11px;
  line-height: 100%;
}

.employee-details {
  display: flex;
}

.employee-name {
  display: flex;
  flex-direction: column;
  color: #0d0f10;
  font-size: 14px;
}

.comment-section {
  margin-top: 7rem;
  background: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  margin-left: 12rem;
}

.comment-section textarea {
  width: 650px;
  min-height: 80px;
  padding: 20px;
  border: 1px solid #adb5bd;
  border-radius: 5px;
  font-size: 14px;
  resize: none;
  background-color: transparent;
  color: #343a40;
  outline: none;
}

.comment-section button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #6c5ce7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comment-section button:hover {
  background-color: #4834d4;
}

.comment-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.comment-list li {
  background: white;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}
