.status-bar {
  display: flex;
  justify-content: space-between;
}

.status {
  color: white;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 381px;
  text-align: center;
  padding: 0.5rem 0;
  font-family: "FiraGO";
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
}

.starter {
  background-color: #f7bc30;
}

.in-progress {
  background-color: #fb5607;
}

.ready-for-test {
  background-color: #ff006e;
}

.finished {
  background-color: #3a86ff;
}
