header {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 0 2rem 1rem 1rem;
}
.header-container {
  display: flex;
  justify-content: space-between;
  font-family: "FiraGO";
  width: 85vw;
}
.header-left {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
}
.header-left span {
  color: #8338ec;
  font-size: 31px;
  font-weight: 400;
  line-height: 100%;
  font-family: "Fredoka One";
}

.header-right {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.register-user {
  border-color: #8338ec;
  padding: 0.1rem 0.5rem;
  border: 1px solid #8338ec;
  border-radius: 0.5rem;
}

.header-right span {
  color: #212529;
  font-weight: 400;
  line-height: 100%;
}

.new-task {
  display: flex;
  gap: 0.5rem;
  padding: 0.7rem 1.3rem;
  border: 1px solid #8338ec;
  border-radius: 0.5rem;
  background-color: #8338ec;
}
.new-task span {
  color: white;
}
