.comment-section {
  margin-top: 7rem;
  background: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  margin-left: 12rem;
}

.comment-section textarea {
  width: 650px;
  min-height: 80px;
  padding: 20px;
  border: 1px solid #adb5bd;
  border-radius: 5px;
  font-size: 14px;
  resize: none;
  background-color: transparent;
  color: #343a40;
  outline: none;
}

.comment-section button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #8338ec;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 34rem;
  transition: all 0.3s ease-in-out;
}

.comment-section button:hover {
  background-color: #b588f4;
}

.comment-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.comment-list li {
  background: white;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}
